<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>{{config.siteName}}</title>
      <link rel="shortcut icon" href="{{config.baseUrl}}AdminPortal/assets/img/favicon.png">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">
      <link rel="stylesheet" href="{{config.baseUrl}}AdminPortal/assets/plugins/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{config.baseUrl}}AdminPortal/assets/plugins/fontawesome/css/fontawesome.min.css">
      <link rel="stylesheet" href="{{config.baseUrl}}AdminPortal/assets/plugins/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="{{config.baseUrl}}AdminPortal/assets/css/style.css">
      <link rel="stylesheet" href="{{config.baseUrl}}AdminPortal/assets/css/toastr.min.css">

      

     <div id="ajax-modal" data-bs-backdrop="static" data-bs-keyboard="false" class="modal " tabindex="-1" role="dialog"
            aria-labelledby="ajax-modal" aria-hidden="true"></div>
      {% block style %}{% endblock %}
   </head>
   <body>
      <div class="main-wrapper">

        {% include "AdminPortal/partials/header.njk" %}
        <!-- Left side column. contains the logo and sidebar -->

        {% include "AdminPortal/partials/sidebar.njk" %}
        <!-- Content Wrapper. Contains page content -->

        
         <div class="page-wrapper">
            
            {% block body %}{% endblock %}
        
            <footer>
               <p>Copyright © 2022 Gayatri Gurukul Public School.</p>
            </footer>
         </div>
      </div>
      <script src="{{config.baseUrl}}AdminPortal/assets/js/jquery-3.6.0.min.js"></script>

      <link rel="stylesheet" href="{{config.baseUrl}}AdminPortal/assets/multiple_select/fSelect.css">
      <script src="{{config.baseUrl}}AdminPortal/assets/multiple_select/fSelect.js"></script>

      <script src="{{config.baseUrl}}AdminPortal/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="{{config.baseUrl}}AdminPortal/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

      <script src="{{config.baseUrl}}AdminPortal/assets/js/script.js"></script>
      <script src="{{config.baseUrl}}AdminPortal/assets/js/comman.js"></script>
      <script src="{{config.baseUrl}}AdminPortal/assets/js/form-validation.js"></script>


      <script type="text/javascript" src="{{config.baseUrl}}AdminPortal/assets/js/toastr.min.js"></script>
      <script type="text/javascript" src="{{config.baseUrl}}AdminPortal/assets/js/moment/moment.min.js"></script>
      
      {% if(error|length)>0 %}
      <script type="text/javascript">
         $.toast({ heading: 'Error', text: `{{error | safe }}`, position: 'top-right', icon: 'error' });
      </script>
      {% endif %}

      {% if(success|length)>0 %}
      <script type="text/javascript">
         $.toast({ heading: 'Success', text: `{{success | safe }}`, position: 'top-right', icon: 'success' });
      </script>
      {% endif %}

      <script type="text/javascript">

            // Sidebar
	
            var Sidemenu = function() {
               this.$menuItem = $('#sidebar-menu a');
            };
            
            function init() {
               var $this = Sidemenu;
               $('#sidebar-menu a').on('click', function(e) {
                  if($(this).parent().hasClass('submenu')) {
                     e.preventDefault();
                  }
                  if(!$(this).hasClass('subdrop')) {
                     $('ul', $(this).parents('ul:first')).slideUp(350);
                     $('a', $(this).parents('ul:first')).removeClass('subdrop');
                     $(this).next('ul').slideDown(350);
                     $(this).addClass('subdrop');
                  } else if($(this).hasClass('subdrop')) {
                     $(this).removeClass('subdrop');
                     $(this).next('ul').slideUp(350);
                  }
               });
               $('#sidebar-menu ul li.submenu a.active').parents('li:last').children('a:first').addClass('active').trigger('click');
            }
            
            // Sidebar Initiate
            init();
            

      </script>

        {% block script %}{% endblock %}
   </body>
</html>