
    @media (min-width: 601px) {
        #page {
            background: url('planics.png') repeat-x;
        }
    }

        @media (max-width: 600px) {
        #page {      
            background: url('planics.png') repeat-x;
        }
    }

    *{
        box-sizing: border-box;
    
    }
    .container{
        position: absolute;
        left: 10%;
        top:20%;
    }
    .card{
       
height: 192px;
       
width: 306px;
       
padding: 1.3rem 0 1.3rem 0;
       
/* box-shadow: 0 0 0px #b4b4b4; */
border: 1px solid #8080808f;
       
background-image: url(../../../../AdminPortal/student_icard/bgecard1-lkg.jpg);
       
background-repeat: no-repeat;
       
background-size: 306px 192px;
       
border-radius: 2px;
    }
    @media print {
        .card{
            background-image: url('../../../../AdminPortal/student_icard/bgecard1-lkg.jpg');
            -webkit-print-color-adjust: exact; 
        }
    }
    .companyname{
        position: absolute;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.09rem;
        margin-top: .5rem;
        top: 4.3%;
        left: 3%;
        color: oldlace;
    }
    .company-img{
        position: absolute;
        top: 2%;
        left: 3%;
        max-width: 53px;
    }
    .profile-img{
        position: absolute;
        top: 26%;
        left: 74%;
        width: 65px;
        height: 63px;
        border-radius: 11%;
        border: 3px solid rgba(255, 255, 255, .2);
    }
    .profile-name{
        position: absolute;
        top: 70%;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.6rem;
        margin-top: .5rem;
        color: darkblue;
    }
    .profile-username{
        position: absolute;
        top: 78%;
        font-weight: 300;
        text-transform: lowercase;
        font-size: 1rem;
        margin-top: .5rem;
        text-align: center;
        color: navy;
    }
    .squre-qr{
        position: absolute;
        align-items: center;
        top: 20%;
        left: 30%;
        height: 80px;
        width: 80px;
        box-shadow: 0 0 100px #b4b4b4;
    }
    .dt{
        top: 53%;
        position: absolute;
        font-weight: 400;
        font-size: 10.5px;
        margin-top: 8px;
        color: darkblue;
        left: 4%;
    }
    .dt-sn{
        top: 2%;
        position: absolute;
        font-weight: 800;
        font-size: 13px;
        margin-top: 7px;
        color: red;
        left: 21%;
    }
    .dt-sn-session{
        top: 39%;
        position: absolute;
        font-weight: 600;
        font-size: 7px;
        margin-top: 8px;
        color: #ec0f04;
        left: -8%;
        transform: rotate(-90deg);
    }
    .dt-student-name{
        top: 4%;
        /* position: absolute; */
        font-weight: 800;
        font-size: 13px;
        margin-top: 69px;
        color: red;
        margin-right: 24%;
        letter-spacing: 0.5px;
    }

    .dt-sn-address{
        top: 10%;
        position: absolute;
        font-weight: 600;
        font-size: 10px;
        margin-top: 7px;
        color: #141810;
        left: 28%;
    }

    .dt-sn-mobile{
        top: 17%;
        position: absolute;
        font-weight: 600;
        font-size: 10px;
        margin-top: 7px;
        color: red;
        left: 34%;
    }

    .dt1{
        top: 66%;
        position: absolute;
        font-weight: 400;
        font-size: 10.5px;
        margin-top: -5px;
        color: darkblue;
        left: 4%;
    }
    .dt2{
        top: 69%;
        position: absolute;
        font-weight: 400;
        font-size: 10.5px;
        margin-top: 1px;
        color: darkblue;
        left: 4%;
    }
    .dt3{
        top: 76%;
        position: absolute;
        font-weight: 400;
        font-size: 10.5px;
        margin-top: 0px;
        color: darkblue;
        left: 4%;
    }
    .dt4{
        top: 81%;
        position: absolute;
        font-weight: 400;
        font-size: 10.5px;
        margin-top: 1px;
        color: darkblue;
        left: 4%;
    }

    .dt5{
        top: 76%;
        position: absolute;
        font-weight: 600;
        font-size: 10.5px;
        margin-top: 0px;
        color: red;
        left: 34%;
    }
